{% extends "base.html" %}
{% block content %}
<h3>Create a new Tasklist</h3>
<form action="/lists/tasklists/new" method="post" name="create_tasklist">
    <p>
        Enter the name of the tasklist below<br>
        <input type="text" name="listname"><br>
        <input type="submit" value="create">
    </p>
</form>
{% for tasklist in tasklists %}
	<table border="1">
	<tr><th colspan="2">{{tasklist.name}}
    <form action="/lists/tasklists/delete" method="post" name="delete_tasklist">
        <input type="hidden" name="tlid" value="{{tasklist.id}}">
        <input type="submit" value="delete tasklist">
    </form></th></tr>
    <tr><td colspan = "2">
        <form action="/lists/tasks/new" method="post" name="create_task">
            <p>
                Add a Task<br>
                name: <input type="text" name="listname"><br>
                description: <textarea name="description" cols="40" rows="5"></textarea><br>
                location: <input type="text" name="location"><br>
                start time: <input type="text" name="starttime"><br>
                end time: <input type="text" name="endtime"><br>
                <input type="hidden" name="tl" value="{{tasklist.id}}">
                <input type="submit" value="add task">
            </p>
        </form>       
    </td></tr><br>

    {% for task in tasklist.tasks %}
        <tr><th colspan="2">{{task.name}}
        <form action="/lists/tasks/delete" method="post" name="delete_task">
            <input type="hidden" name="tid" value="{{task.id}}">
            <input type="submit" value="delete task">
        </form></th></tr>
        <tr><td colspan="2">{{task.description}}</td></tr>
        <tr><td colspan="2">{{task.location}}</td></tr>
        <tr><td>{{task.starttime}}</td>
        <td>{{task.endtime}}</td></tr>
    {% endfor %}
{% endfor %}
{% endblock %}




