{% extends "base.html" %}
{% block content %}
<h3>Create a new Tasklist</h3>
<form action="/lists/tasklists/new" method="post" name="create_tasklist">
    <p>
        Enter the name of the tasklist below<br>
        <input type="text" name="listname"><br>
        <input type="submit" value="create">
    </p>
</form>
<!-- <h3>Create a new Task</h3>
<form action="/lists/tasks/new" method="post" name="create_task">
    <p>
        Taskname:
        <input type="text" name="taskname"><br>
        TaskList name:
        <input type="text" name="listname"><br>
        <input type="submit" value="create">
    </p>
</form> -->
{% for tasklist in tasklists %}
	<table border="1">
	<tr>
        <!-- <th colspan = "2"> </th> -->
	<th>{{tasklist.name}}</th>
    <td>
        <form action="/lists/tasks/new" method="post" name="create_list">
            <p>
                Enter information about the task you want to add below<br>
                name: <input type="text" name="listname"><br>
                start time: <input type="text" name="starttime"><br>
                end time: <input type="text" name="endtime"><br>
                <input type="hidden" name="tl" value="{{tasklist.id}}"><br>
                <input type="submit" value="create">
            </p>
        </form>       
    </td>
	</tr><br>

    {% for task in tasklist.tasks %}
        <tr>
            <td>
                {{task.name}}
            </td>
            <td>
                {{task.starttime}}
            </td>
        </tr>
    {% endfor %}



{% endfor %}

{% endblock %}